<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener Microservice</title>
    <link href="../public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section id="submitForm">
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <input
              id="url_input"
              type="text"
              name="url"
              placeholder="https://x.com"
              required
            />
            <br />
            <input type="submit" value="Submit" />
          </fieldset>
        </form>
      </section>

      <section id="shorturl" style="display: none;">
        <fieldset>
          <legend>Short URL Result</legend>
          <a id="url_result"></p>
        </fieldset>
      </section>
    </main>
    
    <script>
      document
        .getElementById("submitForm")
        .addEventListener("submit", async function (event) {
          event.preventDefault(); // Mencegah pengiriman formulir secara default
          const result = document.getElementById("url_input").value;
          const response = await fetch("/api/shorturl/", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ url: result }),
          });

          const data = await response.json();
          let shorturl = await data.short_url;

          document.getElementById("url_result").innerText = shorturl;
          document.getElementById("shorturl").style.display = "block"; // Tampilkan hasil setelah submit
        });
    </script>
  </body>
</html>
